*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}

body{
    background-color: rgb(75, 120, 60);
}

body  div {
    background-color: #eaf6e7;
    max-width: 736px;
    margin-inline: auto;
    margin-block: 60px;
    padding: 1px;
    border-radius: 3rem;
}



img{
    width: 35rem;
    border-radius: 2rem;
    margin: .5rem;
    display: flex;
    position: relative;
    justify-content: center;
    left: 75px;

}


a{
     text-decoration: none;
     background-color: #4CAF50;
     color: white;
     padding: 15px;
     border: none;
     text-decoration: none;
     border-radius: 1.5rem ;
     margin-bottom: 1rem;
     padding: .5rem;
     font-size: 16px;
     margin-inline: auto;
     max-width: 736px;
    display: inline-block;
    text-align: center;
}


header{
    text-align: center;
    margin: 1.5rem;
}

h1,
h2,
ol,
li,
p {
    text-align: center;
    padding: 5px;
}

ol, li {
    list-style-type: none;
}

